{% extends 'base.html' %}
{% block content %}

    <div class="container-scroller">
      <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
          <div class="row w-100">
            <div class="col-lg-4 mx-auto">
              <div class="auto-form-wrapper">
                <form>
                    {% csrf_token %}
                    <div class="form-group">
                      We have sent you an e-mail to reset your account. Please contact us if you do not receive it within a few minutes.
                      <a class="" href="{% url 'login' %}">Login</a>
                    </div>
               
                </form>
              </div>
             
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
 
  {% endblock content %}
