


{% load static %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<!-- <script src="/cdn-cgi/apps/head/i-lAwau9_PGB_kvkxfaHap92AMs.js"></script> -->
<link rel="stylesheet" href="{% static 'css/employee_info.css' %}">
<script src="{% static 'js/jquery-3.5.1.js' %}"></script>

<script src="{% static 'js/qrcode.min.js' %}"></script>
</head>
<!-- <script src="/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="ec18832bc4a79e61abeaeea0-|49"></script> -->
<body onLoad="window.print()">
<page size="A4">
    <div>


<header>
<h1>EMPLOYEE DETAILS</h1>


</div>
</header>
<article>
<table cellpadding="0" cellspacing="0" class="meta borderless">
<tr class="noborder">
<td colspan="2" nowrap="nowrap"><div align="center"><img src="\static\images\logo\Rock-City-Logo.png" width="90%" /></div>

</td>
<td nowrap="nowrap"><div id="qrcode"></div></td>
</tr>
<tr>
<th  nowrap="nowrap">ID :</th>
<td id="employee_id">{{employee.employee_id}}</td>
<td>&nbsp;</td>
</tr>
<tr>
<th nowrap="nowrap">SNNIT:</th>
<td id="snnit_number">{{employee.snnit_number}}</td>
<td>&nbsp;</td>
</tr>
<tr>
<th nowrap="nowrap">NIA</th>
<td id="nia_number">{{employee.nia}}</td>
<td>&nbsp;</td>
</tr>
<tr>
<th nowrap="nowrap">Status</th>
<td  id="status">{{employee.status}}</td>
<td>&nbsp;</td>
</tr>
</table>
<table class="photo">
<tr>
<!-- <td>PHOTO ON NATIONAL ID</td> -->
<!-- <td align="center" nowrap="nowrap">UPLOADED PHOTO</td> -->
</tr>
<tr>
<!-- <td><div align="right"><img src="/static/images/faces/face17.jpg" width="111" height="151" alt=""></div></td> -->
<td><div align="right"><img id="photo" src="{{employee.profile_exists}}" border="0" style="display:block;visibility:visible;" width="auto" height="151" />
</div>
{% if employee.applicant_cv_exists %}
<div class="pulse" style="text-align:center;align-items: center;margin-top:9%">
    <a id="cv" href="{{employee.applicant_cv_exists}}" target="_blank" rel="noopener noreferrer">download cv</a>

</div>
{% endif %}

</td>

</tr>
</table>
<table class="address">
<tbody>
<tr>
<td><div class="grphead"><strong>PERSONAL INFORMATION</strong></div></td>
</tr>
</tbody>
</table>
<table class="nationalid">
<tbody>
<tr>
<th width="20%"><strong>EMPLOYEE FULL NAME :</strong></th>
<td width="80%" id="full_name">{{employee.title}}{{employee.full_name}}</td>
</tr>
</tbody>
</table>
<table class="inventory">
<thead>
</thead>
<tbody>
<tr>
<th>Surname:</th>
<td id="last_name">{{employee.last_name}}</td>
<th>Other Names :</th>
<td id="other_name">{{employee.other_name}}</td>
</tr>
<tr>
<th>Date of Birth:</th>
<td id="dob">{{employee.dob}}</td>
<th>Sex</th>
<td id='sex'> {{employee.gender}}</td>
</tr>
<tr>

<th>Contact Tel No.(s):</th>
<td id="contact_number">{{employee.mobile}}</td>
<th>Date Employed:</th>
<td id="date_employed">{{employee.date_employed}}</td>
</tr>
<tr>
<th>Marital Status: </th>
<td id="is_merried">{{employee.is_merried}}</td>
<th>Country :</th>
<td id="country">{{employee.country}}</td>
</tr>
<tr>
 <th>Place Of Birth:</th>
 <td id="place_of_birth">{{employee.place_of_birth}}</td>
<th>Email Address :</th>
<td style="text-transform: none !important;"><a id="p_email">{{employee.email}}</a></td>
</tr>
</tbody>
</table>
<table class="address">
<tbody>
<tr>
<th>Nationality :</th>
<td id="nationality">{{employee.nationality}}</td>
</tr>
</tbody>
</table>
<table class="digital">
<tbody>
<tr>
<th>Language(s) :</th>
<td >:{{employee.languages}}</td>
<th>Age:</th>
<td>{{employee.age}}</td>
</tr>
</tbody>
</table>
<table class="address">
    <table class="digital">
        <tbody>
        <tr>
        <th>Department :</th>
        <td >:{{employee.department.name}}</td>
        <th>Designation:</th>
        <td>{{employee.designation.name}}</td>
        </tr>
        </tbody>
        </table>
        <table class="address">
<tbody>
<tr>
    {% if employee.date_exited %}
        
   
    <td style="background-color: brown"><div class="grphead text-info" style="color: white"><strong class="">EXIT INFORMATION </strong></div></td>
</tr>
</tbody>
</table>
<table class="address">
<tbody>

</tbody>
</table>
<table class="digital">
<tbody>
<tr>
<th>Date:</th>
<td style="color: brown">{{employee.date_exited}}</td>
<th>Checks Done</th>
<td style="color: brown">{{employee.exit_check|yesno:"YES,NO"}}</td>
</tr>
</tbody>
</table>
{% endif %}
<table class="address">
<tbody>
<tr>
<td><div class="grphead"><strong>EMERGENCY / GUARDIAN INFORMATION </strong></div></td>
</tr>
</tbody>
</table>
<table class="address">
<tbody>
<tr>
 <th>Name :</th>
<td id='emergency_name'>{{employee.emergency_name}}</td>
</tr>
</tbody>
</table>
<table class="digital">
<tbody>
<tr>
<th>Address:</th>
<td>{{employee.emergency_address}}</td>
<th>Phone No</th>
<td id='emergency_phone'>{{employee.emergency_phone}}</td>
</tr>
</tbody>
</table>
<table class="address">
<tbody>
<tr>
<td><div class="grphead"><strong>NEXT OF KIN INFORMATION</strong></div></td>
</tr>
</tbody>
</table>
<table class="inventory">
<tbody>
<tr>
<th>Name of Next of Kin:</th>
<td id="next_of_kin_name">{{employee.next_of_kin_name}}</td>

<th>Kin's Contact No.:</th>
<td id="next_of_kin_phone">{{employee.next_of_kin_phone}}</td>
</tr>
<tr>
<th>Relationship:</th>
<td id="next_of_kin_relationship">{{employee.next_of_kin_relationship}}</td>
<th>Address:</th>
<td id="next_of_kin_address">{{employee.next_of_kin_address}}</td>

<!-- <td>&nbsp;</td>
<td>&nbsp;</td> -->
</tr>
</tbody>
</table>
<table class="address">
    <tbody>
    <tr>
    <td><div class="grphead"><strong>BANK / SALARY INFORMATION</strong></div></td>
    </tr>
    </tbody>
    </table>
    <table class="inventory">
        <tbody>
        <tr>
        <th>Bank Name:</th>
        <td id="bank_name">{{employee.bank_name}}</td>
        
        <th>Bank Branch:</th>
        <td id="bank_branch">{{employee.bank_branch}}</td>
        </tr>
        <tr>
        <th>Account Number:</th>
        <td id="bank_ac">{{employee.bank_ac}}</td>
        <th>Net Month Salary:</th>
        <td id="salary">{{employee.salary}}</td>
        
        <!-- <td>&nbsp;</td>
        <td>&nbsp;</td> -->
        </tr>
        </tbody>
        </table>

<table class="address">
<tbody>
<tr>
<td><div class="grphead"><strong>DEPENDANT(S) INFORMATION</strong></div></td>
<table class="inventory">
    <thead>
        <th>Name</th>
        <th>Phone</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Date Of Birth</th>
    </thead>

    <tbody id="dependencies">
        {% for dependant in dependants %}
        <tr class="text-center">
            
            <td>{{dependant.first_name}} {{dependant.last_name}} {{dependant.other_name}}</td>
            <td>{{dependant.mobile}}</td>
            <td>{{dependant.gender}}</td>
            <td>{{dependant.address}}</td>
            <td>{{dependant.dob}}</td>
        </tr>
        {% endfor %}

    </tbody>
    
    </table>

</tr>
</tbody>
</table>


<table class="address">
<tbody>
<tr>
<td><div class="grphead"><strong>EDUCATION INFORMATION</strong></div></td>
</tr>
</tbody>
</table>
<table class="inventory">
    <thead>
        <th>Institution Name:</th>
        <th>Course</th>
        <th>Certificate:</th>
        <th>Date Completed:</th>
    
       </thead>
    <tbody id="education">
        {% for education in educations %}
            <tr>
                <td>{{education.school_name}}</td>
                <td>{{education.course}}</td>
                <td>{{education.certificate}}</td>
                <td>{{education.date_completed}}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    <table class="address">
        <tbody>
        <tr>
        <td><div class="grphead"><strong>PROFFESIONAL MEMBERSHIP</strong></div></td>
        </tr>
        </tbody>
        </table>
        <table class="inventory">
            <thead>
            </thead>
            <tbody id="prof_membership text-center">
                {% for membership in memberships %}
                    
                
                <tr class="text-center" style="align-items: center;">
                   
                    <td>{{membership.name}}</td>
                    <td></td>
                </tr>
                {% endfor %}
                <!-- PROFFESIONAL MEMBERSHIP -->
            </tbody>
            </table>


    <table class="address">
        <tbody>
        <tr>
        <td><div class="grphead"><strong>PREVIOUS EMPLOYMENT</strong></div></td>
        </tr>
        </tbody>
        </table>
        <table class="inventory">
            <thead>
                <th>Company Name:</th>
                <th>Job Title:</th>
                <th>Date(resigned):</th>

            </thead>
            <tbody id="prev_employment">
           <!-- PREVIOUS EMPLOYMENT -->
           {% for employment in employments %}
               
           
           <tr>
            <td>{{employment.company}}</td>
            <td>{{employment.job_title}}</td>
            <td>{{employment.date}}</td>
           </tr>
           {% endfor %}
            </tbody>
            </table>

            



</article>
<aside>
<h1>&nbsp;</h1>
</aside>
</page>


<style>
    td{
        text-transform: uppercase;
        /* text-align: center; */
        align-items: center;
    }
</style>



<script>
    $(document).ready(function(){
 
  var qrcode = new QRCode(document.getElementById("qrcode"), {
    text: location.href,
    width: 90,
    height: 90,
    colorDark : "#000000",
    colorLight : "#ffffff",
    correctLevel : QRCode.CorrectLevel.H,

  });
})
</script>
<!-- <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script></body> -->
    
</body>
</html>












