
{% extends 'base.html' %}
{% block content %}
    <div class="container-scrodller">

      <div class="container-fluid page-body-wrapper full-page-wrapper ">
        
        <div class="content-wrapper  align-items-center auth register-bg-1 theme-one ">
            <h1 class="text-center text-primary mt-5" style="font-weight: 100px;">ROCK CITY HOTEL ROYAL DESK</h1>

          <div class="row w-100 mt-0" style="padding-top: 3cm !important;">
            <div class="col-lg-3 mx-auto mb-4">
              <h2 class="text-center">HR MANAGEMENT</h2>
              <div class="auto-form-wrapper">
                
                  <div class="form-group">
                    <a href="{% url 'hrms:hr'  %}" class="btn btn-primary submit-btn btn-block pulse">CLICK TO PROCEED</a>
                </div>
                  <div class="text-block text-center my-3">
                    <!-- <span class="text-small font-weight-semibold">sign in required</span> -->
                  </div>
                  
              </div>
              
            </div>
            <div class="col-lg-3 mx-auto">
                <h2 class="text-center ">LEAVE MANAGEMENT</h2>
                <div class="auto-form-wrapper">
                    <div class="form-group">
                        <a href="/apply-leave-start" class="btn btn-primary submit-btn btn-block pulse">CLICK TO PROCEED</a>

                    </div>
                    <div class="text-block text-center my-3">
                      <!-- <span class="text-small font-weight-semibold">sign in not required</span> -->
                    </div>
                    
                </div>
                
              </div>
              <div class="col-lg-3 mx-auto">
                <h2 class="text-center ">HELP DESK</h2>
                <div class="auto-form-wrapper">
              
                    <div class="form-group">
                        <a href="/helpdesk" class="btn btn-primary submit-btn btn-block pulse">CLICK TO PROCEED</a>
                      <!-- <button class=""></button> -->
                    </div>
                    <div class="text-block text-center my-3">
                      <!-- <span class="text-small font-weight-semibold">sign in required</span> -->
                    </div>
                    
                </div>
                
              </div>
              <div class="col-lg-3 mx-auto">
                <h2 class="text-center ">ATTENDANCE</h2>
                <div class="auto-form-wrapper">
              
                    <div class="form-group">
                        <a href="/attendance" class="btn btn-primary submit-btn btn-block pulse">CLICK TO PROCEED</a>
                      <!-- <button class=""></button> -->
                    </div>
                    <div class="text-block text-center my-3">
                      <!-- <span class="text-small font-weight-semibold">sign in required</span> -->
                    </div>
                    
                </div>
                
              </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
   
{% endblock content %}