{% extends 'base.html' %}
{% load static %}


{% block content %}
{% block title %}
<title>APPLICANT-OFFER-LETTER</title>
{% endblock title %}

<link rel="stylesheet" href="{% static 'css/education/partials.css' %}">

<script src="{% static 'js/scripts/partials.js' %}"></script>
<script src="/static/js/jquery-3.3.1.min.js"></script>

{{user.username|json_script:'applicant_name'}}


<!-- no of beneficiaries -->


<div class="container px-1 py-5 mx-auto">
  <div class="row d-flex justify-content-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12 text-center">
      <div class="card px-0 pb-0 mt-5 mb-3">
        <h3 id="heading"> ROCK CITY JOB APPLICANT PORTAL</h3>
        <p class="text-muted">Fill all form field to go to next step forms marked <span class="text-danger"></span> </p>
        <fieldset id="msform">

          <!-- progressbar -->
          <ul id="progressbar">
            <li class="active" id="p_detail"><strong>Application Status</strong></li>
            <li id="education"><strong>Upload Offer Letter</strong></li>

            <li id="dependants"><strong>Personal Infomation </strong></li>
          </ul>

          <div class="progress my-2">
            <div id="current" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0"
              aria-valuemax="100"></div>
              
          </div>
          <!-- <br /> -->
          <!-- fieldsets -->
          <!-- STEP ONE START -->
         


          <form class="form-card" id="applicant_form">

                  <!-- FIRST ROW -->
                  <div class="row justify-content-center text-center mb-4">
                    <div class="form-grousp col-sm-6 flex-column d-flex mt-5"> <label
                            class="form-control-label px-6">ENTER YOUR UNIQUE IDENTIFIER OR PHONE NUMBER<span class="text-danger">
                                *</span></label> <input type="text" id="unique_id" name="unique_id" required>
                    </div>

                </div>
               

                
                <input  type="button" name="next" class="next action-button " id="check_status_next"
                value="Next" />

                <button  type="submit" id="submit_btn" class="btn action-button  btn-outline-primary">Check Status</button>

            
          
           


         




            <div id="model" style="display: none">
                    
                <ul class="list-inline">
                    <li class="text-center">


                        <section>

                                <td colspan="2" nowrap="nowrap"><div align="center"><img src="/static/images/logo/Rock-City-Logo.png" width="20%" /> </div></td>
                                <hr>
                                <td colspan="2" nowrap="nowrap" ><div align="center"> <h3>Job Description</h3> </div></td>
                                <td colspan="2" nowrap="nowrap"><div align="center" id="department"></div></td>
                                <br>
                                <td colspan="2" nowrap="nowrap"><div align="center" id="designation"></div></td>

                                    <br>
                                <td colspan="2" nowrap="nowrap"><div  align="center">APPLICATION STATUS </div></td>
                                <td colspan="2" nowrap="nowrap"><div align="center" class="btn font-weight-bolder text-uppercase" id="status"></div></td>
                                <hr>
                            
                               
                                <td class="succesText"  nowrap="nowrap"><a target="_blank" class="pulse succesText btn btn-outline-primary d-none text-light bg-dark align="center" class="btn font-weight-bolder" id="link"></a></td>
                            </section>
                                <!-- <div class="text-capitalize" id="comment"></div> -->

                    </li>
                    
                </ul>
                    <hr>

                    <div class="instruction " id="text_message">
                      
                        <br>
                        
                    </div>
                    <!-- <p class="instruction" id="rch_message"></p> -->

            </div>

          </form>


          
          <!-- STEP ONE END -->
          <!-- NEXT AND PREVIOUS BUTTONS END -->
          <!-- STEP TWO START -->

          <form class="form-card card" id="offter_letter_form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row justify-content-between">

              <div class="form-group col flex-column d-flex">
                <!-- <label class="form-control-label px-3">Offer Letter<span class="text-danger"> *</span></label> -->

                <input type="file" name="offer_letter" id="offer_letter" class="dropify" data-height="80"
                data-max-file-size="2M" data-allowed-file-extensions="pdf" multiple required>

              </div>

              <small class="text-center text-muted">upload the scan copy of your offer letter, when done press next</small>

              <ol id="offer_letters_docs"></ol>
            </div>


            
            <!-- <hr  /> -->

            <input type="button" name="next" class="next action-button" id="offer_letter_next_btn"
            value="Next" />

            <!-- <input type="button" name="next" class="next action-button d-none" id="dependant_next_btn" style="width: 100px" value="Next" /> -->
            <!-- <button type="submit" class="btn btn-primary action-button submit-btn" onClick="save_continue_btn(this.id)" id="save-continue-btn">Save and continue</button> -->

            <button type="submit" class="btn btn-primary action-button submit-btn">Upload</button>

            <input type="button" name="previous" class="previous action-button-previous d-none3" value="Previous" />
          </form>
          
          <!-- STEP TWO END -->
          <!-- STEP THREE START -->
          <form class="form-card">
            {% csrf_token %}
            <!-- FIRST ROW -->
            <hr class="bg-primary" />
            <div class="row justify-content-between text-left">


              <div class="form-group col-sm-12 flex-column d-flex">
                <a title="click me" href="{% url 'hrms:register_employee'  %}" class="btn  mt-4 pulse" style="color: #673ab7;" id="employee_info">CLICK HERE TO ADD YOUR PERSONAL INFO 
                  <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                </a>

              </div>
              <small class="text-muted text-center">check your email for login details before you proceed</small>

            </div>


            <!-- FIRST ROW END -->
            <!-- SECOND ROW -->
            
            <!-- SECOND ROW END -->

            <!-- <input type="button" name="next" class="next action-button" value="Next" /> -->
            <!-- <button type="submit" class="btn btn-primary action-button submit-btn mx-3">Submit</button> -->

            <!-- <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> -->
            <!-- <input type="button" name="next" class="next action-button" id="add_employee_next"
            value="Next" /> -->

            <!-- <input type="button" name="next" class="next action-button d-none" id="education_next_btn" style="width: 100px" value="Next" /> -->
            <!-- <button type="submit" class="btn btn-primary action-button submit-btn" onClick="save_continue_btn(this.id)" id="save-continue-btn">Save and continue</button> -->

            <!-- <button type="submit" class="btn btn-primary action-button submit-btn">Save and add another</button> -->

            <input type="button" name="previous" class="previous action-button-previous" value="Previous" />

            

          </form>
          <!-- STEP THREE END -->
          <!-- STEP FOUR START -->
          
          <!-- STEP FOUR END -->
          <!-- STEP FIVE START -->
         
          <!-- STEP FIVE END -->
        </fieldset>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/scripts/applicant.js' %}"></script>


<style>
    .instruction{    
    width:500px;
    word-wrap: break-word;
}

#progressbar{

  display: flex;
        align-items: center;
        justify-content: center;
}

#current{
  font-size: 0 !important;
}

#status {
          font-size: 20px;
          display: block;
          font-weight: bold;
          /* color: #fff; */
        }
</style>



{% endblock content %}