{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/education/partials.css' %}">

{% block title %}
<title>NEW APPLICANT</title>
{% endblock title %}


{% block content %}

<!-- align-items-center auth register-bg-1 theme-one -->
<!-- auth auth-bg-1 theme-one -->
<div class="container-scroller -4">
    <div class="container-fluid page-body-wrapper ">
        <!-- sidebar start -->

        {% include "partials/sidebar.html" %}
        <!-- side bar ends -->
        <div class="main-panel">
            
            <div class="content-wrapper">
                

                <div class="col grid-margin stretch-card" id="display_form" style="display: none">

                    
                    <!-- <h3 class="heading mt-5 font-weight-bolder" id="applicant_heading">APPLICANT REGISTRATION</h3> -->

                    <!-- add new applicant start-->
                    <div class="card my-4 mx-4" id="model_add">
                        <form id="applicant_form" enctype="multipart/form-data">
                            {% csrf_token %}

                            <!-- FIRST ROW -->
                            <div class="row justify-content-between text-left w-100 ">

                                <div class="form-group col-sm-4 flex-column d-flex"> <label
                                        class="form-control-label px-3">First
                                        Name<span class="text-danger">
                                            *</span></label> <input type="text" id="fname" name="first_name" required>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex"> <label
                                        class="form-control-label px-3">Last
                                        Name<span class="text-danger">
                                            *</span></label> <input type="text" id="lname" name="last_name" required>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex"> <label
                                        class="form-control-label px-3">Other
                                        Name</label> <input type="text" id="oname" name="other_name">
                                </div>

                            </div>

                            <!-- FIRST ROW END -->

                            <!-- SECOND ROW START-->

                            <div class="row justify-content-between text-left w-100 mt-0">
                                <div class="form-group col-sm-4 flex-column d-flex"> <label
                                        class="form-control-label px-4">Department<span
                                            class="text-danger">*</span></label>
                                    <select name="department" id="department" required class="form-control department">

                                    </select>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex"> <label
                                        class="form-control-label px-4">Designation<span
                                            class="text-danger">*</span></label> <select name="designation"
                                        id="designation" required class="form-control designation">

                                    </select>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex"> <label
                                        class="form-control-label px-4">Application Status<span
                                            class="text-danger">*</span></label> <select name="status" id="status"
                                        required class="form-control">
                                        <option value="in review">IN REVIEW</option>
                                        <option value="not selected">NOT SELECTED</option>
                                        <!-- <option value="selected">SELECTED</option> -->
                                       

                                        </select>
                                </div>

                            </div>

                            
                            <!-- SECOND ROW END-->

                            <div class="row justify-content-between text-left w-100 mt-0">
                                <div class="form-group col-sm-4 flex-column d-flex"> <label
                                        class="form-control-label px-3">Phone
                                    </label> <input type="text" id="phone" name="phone">
                                </div>

                                <div class="form-group col-sm-4 flex-column d-flex"> <label
                                        class="form-control-label px-3">Email
                                    </label> <input type="email" id="email" name="email">
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex"> <label
                                        class="form-control-label px-3 ">Start Date
                                    </label> <input  type="date" id="date" name="resuming_date">
                                </div>
                                <!-- <div class="form-group col-sm-4 flex-column d-flex"> <label
                    class="form-control-label px-3">Address
                    </label> <input class="address" type="text" id="address" name="address">
            </div> -->
                                
                            </div>

                            <!-- THIRED ROW START -->

                            <!-- <div class="row justify-content-between text-left w-100 mt-0"> -->
                               

                                <!-- <div class="form-group col-sm-6 flex-column d-flex">

                                    <label class="form-control-label px-3"> </label>
                                    comment
                                    <textarea name="comment" id="comment" cols="30" rows="10"
                                        placeholder="eg congratulate them or wish them luck"></textarea>

                                </div> -->

                            <!-- </div> -->



                            <!-- THIRED ROW END-->
                            <!-- FORTH ROW START -->

                            <div class="row justify-content-between text-left w-100 mt-0">
                                <div class="form-group col-sm-4 flex-column d-flex">

                                    <label class="form-control-label px-3"> Address</label>

                                    <input type="text" name="address" class="form-control" id="address">

                                </div>


                                <div class="form-group col-sm-4 flex-column d-flex">

                                    <label class="form-control-label px-3"> Salary</label>

                                    <input type="text" name="salary" class="form-control" id="salary">
                                </div>


                                <div class="form-group col-sm-4 flex-column d-flex">

                                    <input type="file" name="cv" id="file">

                                </div>


                            </div>
                            <!-- FORTH ROW END -->
                            <hr>

                            <button class="btn btn-primary btn-block" type="submit" style="height: 40px">Submit</button>

                            <hr>

                        </form>
                    </div>
                    <!-- add new applicant end -->

                    <!-- update applicant start -->


                    <div class="card my-4 mx-4 " id="model_edit">
                        <form id="applicant_form_edit" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- FIRST ROW -->
                            <div class="row justify-content-between text-left w-100 mt-0">

                                <div class="form-group col-sm-4 flex-column d-flex"> <label
                                        class="form-control-label px-3">First
                                        Name<span class="text-danger">
                                            *</span></label> <input type="text" id="fname_edit" name="first_name" required>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex"> <label
                                        class="form-control-label px-3">Last
                                        Name<span class="text-danger">
                                            *</span></label> <input type="text" id="lname_edit" name="last_name" required>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex"> <label
                                        class="form-control-label px-3">Other
                                        Name</label> <input type="text" id="oname_edit" name="other_name">
                                </div>

                            </div>

                            <!-- FIRST ROW END -->

                            <!-- SECOND ROW START-->

                            <div class="row justify-content-between text-left w-100 mt-0">
                                <div class="form-group col-sm-4 flex-column d-flex"> <label
                                        class="form-control-label px-4">Department<span
                                            class="text-danger">*</span></label>
                                    <select name="department" id="department_edit" required
                                        class="form-control department">

                                    </select>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex"> <label
                                        class="form-control-label px-4">Designation<span
                                            class="text-danger">*</span></label> <select name="designation"
                                        id="designation_edit" required class="form-control designation">

                                    </select>
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex"> <label
                                        class="form-control-label px-4">Application Status<span
                                            class="text-danger">*</span></label> <select name="status" id="status_edit"
                                        required class="form-control">
                                        <option value="in review">IN REVIEW</option>
                                        <option value="not selected">NOT SELECTED</option>
                                        <option value="selected">SELECTED</option>

                                    </select>
                                </div>

                            </div>

                            <!-- SECOND ROW END-->

                            <div class="row justify-content-between text-left w-100 mt-0">
                                <div class="form-group col-sm-4 flex-column d-flex"> <label
                                        class="form-control-label px-3">Phone
                                    </label> <input type="text" id="phone_edit" name="phone">
                                </div>

                                <div class="form-group col-sm-4 flex-column d-flex"> <label
                                        class="form-control-label px-3">Email
                                    </label> <input type="email" id="email_edit" name="email">
                                </div>
                                <div class="form-group col-sm-4 flex-column d-flex date"> <label
                                        class="form-control-label px-3 date">Start Date
                                    </label> <input class="date" type="date" id="date_edit" name="resuming_date">
                                </div>


                               

                            </div>

                            <!-- THIRED ROW START -->

                            <!-- <div class="row justify-content-between text-left w-100 mt-0">
                                <div class="form-group col-sm-6 flex-column d-flex">

                                    <label class="form-control-label px-3"> </label>
                                    Upload CV

                                    <input type="file" name="file" id="file_edit" class="dropify" data-height="10"
                                        data-max-file-size="2M" data-allowed-file-extensions="pdf doc docx">
                                    <a id="cv_url" href="">download</a>
                                </div>


                                

                            </div> -->



                            <!-- THIRED ROW END-->
                            <!-- FORTH ROW START -->
                            <div class="row justify-content-between text-left w-100 mt-0">
                                <div class="form-group col-sm-4 flex-column d-flex">

                                    <label class="form-control-label px-3"> Address</label>

                                    <input type="text" name="address" class="form-control" id="address_edit">

                                </div>


                                <div class="form-group col-sm-4 flex-column d-flex">

                                    <label class="form-control-label px-3"> Salary</label>

                                    <input type="text" name="salary" class="form-control" id="salary_edit">
                                </div>

                                
                                <div class="form-group col-sm-4 flex-column d-flex">

                                 
                                    <input type="file" name="cv" id="file_edit" onchange="file_input_change()">
                                    <a  id="cv_url" href="#" target="_blank">download</a>
                                    <ol id="offer_letters_docs">
                                        
                                    </ol>
                                

                                </div>

                            </div>

                            <!-- FORTH ROW END -->
                            <hr>

                            <button class="btn btn-primary btn-block" type="submit" style="height: 40px">Submit</button>

                            <hr>

                        </form>
                    </div>
                    <!-- update applicant end -->
                </div>
                <!-- table -->
                <div class="col mt-5">
                    <div class="card">
                        <section>
                            <h2 style="font: bold 100% sans-serif; letter-spacing: 0.5em;"
                                    class="card-title text-center mt-4 mb-0">APPLICANTS</h2>
                            
                            <div>
                                <button class="btn float-right btn-outline-primary my-4  font-weight-bolder"
                                style="height:40px" id="show_form">New Applicant</button>
                                    
                            </div>
                            <div class="my-5">
                                <div title='fadeout cv' class="toolbar-item float-right btn" onclick="fadeOutCView()">
                                    <i class="fa fa-pencil-square" aria-hidden="true"></i></div>

                                <div class="toolbar-item float-right btn" onclick="createPDF('EMPLOYEES')"
                                    title="print">
                                    <i class="fa fa-print" aria-hidden="true"></i>
                                </div>
                                <div class="toolbar-item float-right btn" onclick="createExcel()" title='save to excel'>
                                    <i class="fa fa-file" aria-hidden="true"></i>

                                </div>
                                

                            </div>


                        </section>
                        


                        <!-- <hr class="bg-light"> -->
                        <!-- <br> -->
                        <section>


                            <div class="float-right ">

                                <input class="" type="search" id="applicants_table_search"
                                    placeholder="search applicant">

                            </div>

                            <div class="float-left">

                                <select  name="" id="filter_applicant">
                                    <option value="selected">SELECTED</option>
                                    <option value="not selected">NOT SELECTED</option>
                                    <option value="in review">IN REVIEW</option>
                                    <option value="all">ALL</option>
                                </select>
                                <button id="message_btn" class="btn-small">message</button>
                            </div>
                            
                        </section>
                        
                        <div id="tab">

                        
                        <div class="tab table-responsive table-responsive-sm table-responsive-md">

                            <table class="table table-stretched table-hover" id="sampleTable">

                                <thead>
                                    <tr style="text-align:center">
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Department</th>
                                        <th>Designation</th>
                                        <th class="cv_view">CV</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody id="applicants_table" style="text-align:center"></tbody>


                                </tbody>
                            </table>
                            <div id="comment_div" class="d-none">
                            <form id="comment_form">
                                {% csrf_token %}
                                <div class="row justify-content-between text-left">
                                    <div class="form-grousp col-sm-4 flex-column d-flex"> <label
                                            class="form-control-label px-3">Selected<span class="text-danger">
                                                *</span></label> 
                                                <textarea required name="selected" id="selected" cols="30" rows="10"></textarea>
                                    </div>
                                    <div class="form-grousp col-sm-4 flex-column d-flex"> <label
                                        class="form-control-label px-3">Not Seleled<span class="text-danger">
                                            *</span></label> 
                                            <textarea required name="not_selected" id="not_selected" cols="30" rows="10"></textarea>

                                </div>
                                <div class="form-grousp col-sm-4 flex-column d-flex"> <label
                                    class="form-control-label px-3">In Review<span class="text-danger">
                                        *</span></label> 
                                        <textarea required name="in_review" id="in_review"  cols="30" rows="10"></textarea>

                            </div>

                            
                                   
        
                                </div>
                                <button class="btn-primary my-4  btn-block" type="submit">Save</button>
                            </form>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
    
<p style="display: none" id="applicant_id"></p>

<script src="{% static 'js/scripts/applicants.js' %}"></script>
<script>
    function fadeOutCView() {
        $(".cv_view").toggle()
    }

</script>

{% endblock content %}