{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>APPLICANT-OFFER-LETTER</title>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/education/partials.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">

    
</head>

<body>
    <div class="container px-1 py-5  mt-4 mx-auto ">
        <div class="row d-flex mt-5 justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12 text-center">
                <p class="heading lead text-light">
                    WELCOME TO ROCKCITY JOB APPLICANT PORTAL
                </p>
                <div class="card px-0 pb-0 mt-5 mb-3">
                    <h3 class="heading">CHECK YOUR APPLICATION STATUS</h3>


                    <br />


                    <hr class="bg-primary">

                    <form class="form-card" id="appicant_form" method="GET">

                        <!-- FIRST ROW -->
                        <div class="row justify-content-center text-center mb-4">
                            <div class="form-grousp col-sm-6 flex-column d-flex"> <label
                                    class="form-control-label px-6">ENTER YOUR UNIQUE IDENTIFIER OR PHONE NUMBER<span class="text-danger">
                                        *</span></label> <input type="text" id="unique_id" name="unique_id" required>
                            </div>

                        </div>
                        <div>
                            <!-- <p>NB:When </p> -->
                        </div>

                        <button type="submit" id="submit_btn" class="btn btn-outline-primary" style="width: 100%;">Submit</button>


                    </form>
                    <p id="message"></p>

                    <div id="model" style="display: none">
                    
                        <ul class="list-inline">
                            <li class="text-center">


                                <section>

                                        <td colspan="2" nowrap="nowrap"><div align="center"><img src="/static/images/logo/Rock-City-Logo.png" width="20%" /> </div></td>
                                        <hr>
                                        {% comment %} <p class="succesText" id='fiarwell'></p> {% endcomment %}
                                        <td colspan="2" nowrap="nowrap" ><div align="center"> <h3>Job Description</h3> </div></td>
                                        <td colspan="2" nowrap="nowrap"><div align="center" id="department"></div></td>
                                        <br>
                                        <td colspan="2" nowrap="nowrap"><div align="center" id="designation"></div></td>
        
                                            <br>
                                        <td colspan="2" nowrap="nowrap"><div  align="center">APPLICATION STATUS </div></td>
                                        <td colspan="2" nowrap="nowrap"><div align="center" class="btn font-weight-bolder text-uppercase" id="status"></div></td>
                                        <hr>
                                    
                                       
                                        <td class="succesText"  nowrap="nowrap"><a class="succesText btn btn-outline-primary" align="center" class="btn font-weight-bolder" id="link"></a></td>

                                    </section>
                                        <!-- <div class="text-capitalize" id="comment"></div> -->

                            </li>
                            
                        </ul>
                            <hr>

                            <div class="instruction text-monospace">
                                After you have download  and printed your offer letter, upload a scan copy of the letter
                                by clicking <a id="btn_letter" href="#" class="btn btn-outline-primary">here</a> to send the siged document to us.
                                <br>
                                <hr>
                                We at {{company_name}} Wish You Best Of Luck and meet you soon.
                            </div>
                            
                    </div>
                   
                    <div id="offter_div" class="d-none">
                        <form id="offter_letter_form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group text-center">
                                <div class="form-group">
                
                                    <input id="my-input" class="form-control" type="file" name="offer_letter" required multiple>
                
                                </div>
                                <input class="btn-block btn-outline-dark my-3 text-center" type="submit" value="Send Letter">

                            </div>
                
                        </form>
                        
                    </div>
                    
                        <!-- <input type="file" name="" id="" multiple> -->
                </div>
            </div>
        </div>
    </div>

 


<script src="{% static 'js/scripts/applicant.js' %}"></script>

<style>
    .instruction{    
    width:500px;
    word-wrap: break-word;
}
</style>
</body>

</html>