
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>RCH-CONTRACT LETTER</title>
	<script src="/cdn-cgi/apps/head/i-lAwau9_PGB_kvkxfaHap92AMs.js"></script>
	<style type="text/css">

	</style>
	<link href="/static/css/education/partials.css" rel="stylesheet" type="text/css" />
	<link rel="icon" href="/static/js/royal_desk.ico"/>


</head>
<body id="offer_letter_body"  onLoad="window.print()">
<page size="A4">

	</div>
	<div id="headerpersonnel">
		<div id="photo">
			<div style="width: 310px; height: 160px; display: block;"><img src="/static/images/logo/Rock-City-Logo.png"
					border="0" width="200px" height="160px" /></div>
		</div>
		
	
	


	</div>



	<div id="letterbody">
		{{offerletter|safe}}

		
	</div>
	<div id="footer">
		<div id="salutation">&nbsp;</div>
	</div>
</page>
<page size="A4">
	<div id="letterbody" class="">
	
	
	</div>
	<div id="footer1">
		<div id="salutation1">
			
		</div>
	</div>
</page>
<page size="A4">



	
	<div >
		
	
	</div>
</page>
<style>
	@media print {
		#offer_letter_body{
		background-image: none;
	}
	
	
	}

	#offer_letter_body{
		/* background-image: none; */
		/* background-color:rgb(199, 188, 188); */
		background-color: #999;
		/* background: linear-gradient(to bottom right, rgb(94, 94, 238), rgb(134, 104, 109)); */
	}
	/* @page{
		margin: 0;
	}
	 */
	
</style>
<script>
	document.getElementById("guid_table").remove()
</script>


</body>

</html>