{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Raphael must be included before justgage -->

<script src="{% static 'js/raphael-min.js' %}"></script>
<script src="{% static 'js/justgage.min.js' %}"></script>


<div class="container-scroller">
  <!-- navbar start -->

  <!-- navbar end -->
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- sidebar start -->

    {% include "partials/sidebar.html" %}
    <!-- side bar ends -->
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <!-- Page Title Header Starts-->
        <!-- <div class="row page-title-header">

             <div class="col-md-12">
                <div class="page-header-toolbar">
                  <div class="btn-group toolbar-item" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary">03/02/2019 - 20/08/2019</button>
                  </div>
                  
                </div>
              </div> 
        </div>  -->


        <div class="row mt-5">
          <div class="col-md-12 grid-margin">
            <div class="card">
              <div class="card-body1">
                <div class="row">
                  <div class="col-lg-3 col-md-6 mt-md-0">
                    <div class="d-flex">
                      <div class="wrapper">
                        <h3 class="mb-0 font-weight-semibold">Sex</h3>
                        <h5 class="mb-0 font-weight-medium text-primary" id="gender_male">Male: 22</h5>
                        <p class="mb-0 text-muted" id="gender_female">Female: 21</p>
                      </div>
                      <div class="wrapper my-auto ml-auto ml-lg-4">
                        <!-- <canvas height="50" width="100" id="stats-line-graph-1"></canvas> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                    <div class="d-flex">
                      <div class="wrapper">
                        <h3 class="mb-0 font-weight-semibold">Marital Status</h3>
                        <h5 class="mb-0 font-weight-medium text-primary" id="is_merried">Married: 23</h5>
                        <p class="mb-0 text-muted" id="is_not_merried">Not Married: 34</p>
                      </div>
                      <div class="wrapper my-auto ml-auto ml-lg-4">
                        <!-- <canvas height="50" width="100" id="stats-line-graph-2"></canvas> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                    <div class="d-flex">
                      <div class="wrapper">
                        <h3 class="mb-0 font-weight-semibold">Emp Age</h3>
                        <h5 class="mb-0 font-weight-medium text-primary" id="age_above">30 & Above:</h5>
                        <p class="mb-0 text-muted" id="age_below">Below 30:</p>
                      </div>
                      <div class="wrapper my-auto ml-auto ml-lg-4">
                        <!-- <canvas height="50" width="100" id="stats-line-graph-3"></canvas> -->
                        <!-- <canvas  height="100" width="100"  id="turn_over_rate"></canvas> -->
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                    <div class="d-flex">
                      <div class="wrapper">
                        <h3 class="mb-0 font-weight-semibold">Leave Status</h3>
                        <h5 class="mb-0 font-weight-medium text-primary" id="on_leave">On Leave:</h5>
                        <p class="mb-0 text-muted" style="cursor:progress" onclick="scroolDown()" id="applied_leave">Applied Leave: </p>
                      </div>
                      <div class="wrapper my-auto ml-auto ml-lg-4">
                        <!-- <canvas height="50" width="100" id="stats-line-graph-4"></canvas> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-md-8 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">

                <!-- <h4 class="card-title mb-0">EMPLOYEES TURNOVER RATE</h4> -->
                <div class="d-flex flex-column flex-lg-row">

                  <!-- <p>Lorem ipsum is placeholder text commonly used</p> -->
                  <ul class="nav nav-tabs sales-mini-tabs ml-lg-auto mb-4 mb-md-0" role="tablist">
                    <li class="nav-item">
                      <!-- <a class="nav-link active" id="sales-statistics_switch_1" data-toggle="tab" role="tab" aria-selected="true">1D</a> -->
                    </li>
                    <li class="nav-item">
                      <!-- <a class="nav-link" id="sales-statistics_switch_2" data-toggle="tab" role="tab" aria-selected="false">5D</a> -->
                    </li>
                    <li class="nav-item">
                      <!-- <a class="nav-link" id="sales-statistics_switch_3" data-toggle="tab" role="tab" aria-selected="false">1M</a> -->
                    </li>
                    <li class="nav-item">
                      <!-- <a class="nav-link" id="sales-statistics_switch_4" data-toggle="tab" role="tab" aria-selected="false">1Y</a> -->
                    </li>
                  </ul>
                </div>
                <div class="d-flex flex-column flex-lg-row">
                  <div class="data-wrapper d-flex mt-2 mt-lg-0">
                    <div class="wrapper pr-5">
                      <h5 class="mb-0 font-weight-bold text-monospace">Active Employees</h5>
                      <div class="d-flex align-items-center">
                        <h4 class="font-weight-semibold mb-0" id="active_employees_count"></h4>
                        <!-- <small class="ml-2 text-gray d-none d-lg-block"><b>89.5%</b> of 20,000 Total</small> -->
                      </div>
                    </div>

                    
                    <div class="wrapper">
                      <h5 class="mb-0 text-monospace">Turn Over <small class="btn-sm text-primary" id="turn_over_rate_btn"
                          style="cursor:pointer">FILTER</small></h5>
                      <div class="d-flex align-items-center">
                        <h4 class="font-weight-semibold mb-0" id="turn_over_rate"></h4>

                        <!-- <small class="ml-2 text-gray d-none d-lg-block"><b>10.5%</b> of 20,000 Total</small> -->



                        <!-- turn_over_rate START -->

                        <div class="d-none" id="turn_over_rate_div">
                          <form id="run_turn_over_rate_action_form">

                           <div class="mb-4">

                            <label for="date_end">Start</label>
                            <input class="dob" type="text" name="date_from" id="turn_over_rate_date_start"  required
                              autocomplete="off" placeholder="Date">


                            <label for="date_start">End</label>
                            <input class="dob" type="text" name="date_to" id="turn_over_rate_date_end" required
                              autocomplete="off" placeholder="Date">
                              <button type="submit">Run</button>

                           </div>

                           <div style="cursor:pointer" class="toolbar-item float-right btn-sm mt-2"
                           onclick="printresult('turn_over_rate_print','EMPLOYEES TURNOVER RATE')" title="print">
                           <i class="fa fa-print" aria-hidden="true"></i>
                         </div>


                            <!-- <p id="caption_turn_over_rate"></p> -->
                          <div id="turn_over_rate_print">
                            <table class="table table-active">
                              <caption id="caption_turn_over_rate"></caption>
                              <thead lass="thead-light">
                                <tr>
                                  <th>From</th>
                                  <th>To</th>
                                  <th>Rate</th>
                                </tr>
                              </thead>
                              <tbody id="caption_turn_over_rate_body">

                              </tbody>
                            </table>
                          </div>
                            <!-- <h4 class="text-center font-weight-bold" id="turn_over_rate_content"></h4> -->
                            <!-- content -->

                          </form>
                        </div>

                        <!-- turn_over_rate END -->

                      </div>
                    </div>


                  </div>
                  <div class="ml-lg-auto" id="sales-statistics-legend"></div>
                </div>
                <button id="employement_status_btn" class="float-right">FILTER</button>
                <canvas class="mt-5" height="120" id="employement_status"></canvas>

                <!-- <canvas  height="20" id="turn_over_rate"></canvas> -->




                <!-- EMPLOYEE STATUS START -->

                <div class="d-none" id="employement_status_stats_div">

                  <form id="employement_status_action_form">
                    <label for="">Department</label>
                    <select class="dropdown" name="department" id="employement_status_department">

                    </select>

                    <label for="date_start">Start</label>
                    <select name="year" id="year_field"></select>
                    <!-- <input id="year_field" type="text" name="date_start" id="employement_status_date_start" required
                        autocomplete="off" placeholder="Date"> -->
                    <!-- <label for="date_end">End</label> -->
                    <!-- <input class="dob" type="text" name="date_end" id="employement_status_date_end" required
                        autocomplete="off" placeholder="Date"> -->

                    <label for="">Status</label>
                    <select class="dropdown" name="status" id="employement_status_status">
                      <option value="active">Active</option>
                      <option value="terminated">Terminated</option>
                      <option value="resigned">RESIGNED</option>
                      <option value="dismised">DISMISED</option>
                      <option value="redundancy">REDUNDANCY</option>
                      <option value="not_active">NOT ACTIVE</option>
                    </select>
                    <button type="submit">Run</button>
                  </form>

                  <div style="cursor:pointer" class="toolbar-item float-right btn-sm mt-2"
                    onclick="printresult('employement_status_print','EMPLOYMENT RATE')" title="print">
                    <i class="fa fa-print" aria-hidden="true"></i>
                  </div>
                 
                  <div class="table-responsive table-responsive-sm table-responsive-md mt-4" id="employement_status_print">



                    <table class="table table-stretched table-hover">
                      <caption class="text-dark" id="employement_status_caption"></caption>

                      <thead>
                        <tr>
                          <th>#</th>
                          <th>NAME</th>
                          <th>DEPARTMENT</th>
                          <th>STATUS</th>
                          <th>Date Employed</th>
                          <th>Date Exited</th>
                        </tr>
                      </thead>
                      <tbody id="employement_status_stats_body">


                      </tbody>
                    </table>
                  </div>
                </div>

                <!-- EMPLOYEE STATUS END -->

              </div>
            </div>

          </div>


          <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
              <div class="card-body d-flex flex-column">
                <div class="wrapper">
                  <button  id="leave_btn" class="float-right">FILTER</button>

                  <h5 class="card-title text-center">LEAVE APPLICATIONS</h5>
                  <div class="mb-4" id="leave-application-legend"></div>
                </div>

                <canvas class="my-auto mx-auto" height="220" id="leave-application"></canvas>
              </div>




 <!-- EMPLOYEE LEAVE START-->

 <div class="d-none" id="leave_stats_div">
  <form id="leave_action_form">
    <label for="">Departemnt</label>
    <select class="dropdown" name="department" id="leave_department">
    
    </select>

    <label for="date_start">Start</label>
    <input class="dob" type="text" name="date_start" id="leave_date_start" required
      autocomplete="off" placeholder="Date">
    <label for="date_end">End</label>
    <input class="dob" type="text" name="date_end" id="leave_date_end" required autocomplete="off"
      placeholder="Date">

      <label for="">Date type</label>
      <select class="dropdown" name="date_range" id="date_range" required>
        <option value="start">START</option>
        <option value="end">END</option>
        <option value="resuming_date">RESUME</option>
        <option value="created_at__date">CREATED ON</option>
      </select>

    <label for="">Status</label>
    <select class="dropdown" name="status" id="leave_status" required>
      <option value="pending">PENDING</option>
      <option value="approved">APPROVED</option>
      <option value="unapproved">UNAPPROVED</option>
    </select>

  
    
    <h5 class="font-weight-bold mt-4">Approvals</h5>
    <label for="on_leave">On Leave</label>
    <input class="mr-4" type="checkbox" name="on_leave" id="is_on_leave">
    <label for="awaiting_leave">Awaiting Leave</label>
    <input class="mr-4" type="checkbox" name="awaiting_leave" id="is_awaiting_leave">
    <label for="supervisor">Supervisor</label>
    <input class="mr-4" type="checkbox" name="supervisor" id="is_supervisor">
    <label for="line_manager">Line Manager</label>
    <input class="mr-4" type="checkbox" name="line_manager" id="line_manager">
    <label for="hr_manager">HR Manager</label>
    <input class="mr-4" type="checkbox" name="hr_manager" id="hr_manager">

    <button  type="submit" id="run_leave_stats">Run</button>
  </form>


  <div style="cursor:pointer" class="toolbar-item float-right btn-sm mt-2"
    onclick="printresult('leave_stats_print','EMPLOYEE LEAVE')" title="print">
    <i class="fa fa-print" aria-hidden="true"></i>
  </div>

  <div class="table-responsive table-responsive-sm table-responsive-md mt-4"  id="leave_stats_print">



    <table class="table table-stretched table-hover">
      <caption class="text-dark" id="leave_caption"></caption>

      <thead>
        <tr>
          <th>#</th>
          <th>NAME</th>
          <th>DEPARTMENT</th>
          <th>STATUS</th>
          <th>POLICY</th>
          <th>FROM LEAVE</th>
          <th>RESUMING DATE</th>
          <th>DATE APPLIED</th>
        </tr>
      </thead>
      <tbody id="leave_stats_body">


      </tbody>
    </table>
  </div>
</div>

<!-- EMPLOYEE LEAVE END-->



            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="row">

              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">

                  <div class="card-body pb-0">
                    <!-- <button class="float-right">FILTER</button> -->

                    <!-- <h3 class="font-weight-medium mb-4">184.42K</h3> -->
                  </div>
                  <canvas class="mt-n4" height="180" id="leave_application_month"></canvas>
                </div>
              </div>
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body pb-0">
                    <div class="d-flex justify-content-between">
                      <!-- <h4 class="card-title mb-0">Attendance One </h4> -->
                      <!-- <p class="font-weight-semibold mb-0">-2.87%</p> -->
                    </div>
                    <!-- <h3 class="font-weight-medium">147.7K</h3> -->
                  </div>
                  <canvas class="mt-n3" height="90" id="yesterday_attendance"></canvas>
                </div>
              </div>
              <div class="col-md-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <!-- <h4 class="card-title mb-0" style="display: none;">EMPLOYMENT RATE</h4> -->
                    <div class="d-flex align-items-center justify-content-between w-100">

                      <!-- <p class="mb-0">years of employees</p> -->
                      <div class="dropdown"> <small class="text muted">FILTER RESULT</small>
                        <select class="btn btn-outline-secondary" name="emp_year" id="emp_year">
                          <option class="dropdown-item" value="all">ALL</option>
                          <option class="dropdown-item" value="1">FIRST QUARTER</option>
                          <option class="dropdown-item" value="2">SECOND QUARTER</option>
                          <option class="dropdown-item" value="3">THIRD QUARTER</option>
                          <option class="dropdown-item" value="4">FOURTH QUARTER</option>
                        </select>

                      </div>
                      <button id="employement_stats_btn">FILTER</button>
                    </div>
                    <div class="d-flex align-items-end">
                      <!-- <h3 class="mb-0 font-weight-semibold">$36,2531.00</h3>
                          <p class="mb-0 font-weight-medium mr-2 ml-2 mb-1">USD</p>
                          <p class="mb-0 text-success font-weight-semibold mb-1">(+1.37%)</p> -->
                    </div>
                    <canvas class="mt-4" height="100" id="market-overview-chart"></canvas>
                  </div>
                </div>



                <!-- EMPLOYEMENT  RATE START -->

                <div class="d-none" id="employement_stats_div">
                  <form id="employement_action_form">
                    <label for="">Quarter</label>
                    <select class="dropdown" name="qaurter" id="employement_qaurter">
                      <option class="dropdown-item" value="">Select</option>
                      <option class="dropdown-item" value="1">FIRST QUARTER</option>
                      <option class="dropdown-item" value="2">SECOND QUARTER</option>
                      <option class="dropdown-item" value="3">THIRD QUARTER</option>
                      <option class="dropdown-item" value="4">FOURTH QUARTER</option>
                    </select>

                    <label for="date_start">Start</label>
                    <input class="dob" type="text" name="date_start" id="employement_date_start" required
                      autocomplete="off" placeholder="Date">
                    <label for="date_end">End</label>
                    <input class="dob" type="text" name="date_end" id="employement_date_end" required autocomplete="off"
                      placeholder="Date">

                    <label for="">Status</label>
                    <select class="dropdown" name="status" id="employement_status_stats">
                      <option value="active">Active</option>
                      <option value="terminated">Terminated</option>
                      <option value="resigned">RESIGNED</option>
                      <option value="dismised">DISMISED</option>
                      <option value="redundancy">REDUNDANCY</option>
                    </select>
                    <button type="submit" id="run_employement_stats">Run</button>
                  </form>

                  <div style="cursor:pointer" class="toolbar-item float-right btn-sm mt-2"
                    onclick="printresult('employement_rate_print','EMPLOYMENT RATE')" title="print">
                    <i class="fa fa-print" aria-hidden="true"></i>
                  </div>
                 
                  <div class="table-responsive table-responsive-sm table-responsive-md mt-4" id="employement_rate_print">



                    <table class="table table-stretched table-hover">
                      <caption class="text-dark" id="employement_caption"></caption>

                      <thead>
                        <tr>
                          <th>#</th>
                          <th>NAME</th>
                          <th>DEPARTMENT</th>
                          <th>STATUS</th>
                        </tr>
                      </thead>
                      <tbody id="employement_stats_body">


                      </tbody>
                    </table>
                  </div>
                </div>

                <!-- EMPLOYEMENT RATE END -->

              </div>
              <div class="col-md-12 grid-margin">
                <div class="card" style="background-color: aliceblue;">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <h4 class="card-title mb-0">ATTENDACE</h4>
                    </div>
                    <hr class="bg-primary">

                    <form id="attendance_form">
                      {% csrf_token %}
                      <label for="date_from">from </label>
                      <input type="date" name="date_from" id="date_from" required>
                      <label for="date_to">to </label>
                      <input type="date" name="date_to" id="date_to" required>


                      <label id='clear_time' for="time_from">Time </label>
                      <select name="time_from" id="time_from" class="time_from">
                        <option value="">from</option>
                      </select>

                      <!-- <label for="time_to">to </label> -->
                      <select name="time_to" id="time_to" class="time_to">
                        <option value="">to</option>

                      </select>
                      <!-- <input type="submit" value="submit"> -->
                      <button type="submit" class="btn btn-secondary" style="height: 40px"> submit</button>


                    </form>
                    <div class="table-responsive">

                      <div style="height:200px;overflow:auto;">
                        <table class="table">

                          <thead>
                            <tr>
                              <th>Department</th>
                              <th>Clock In</th>
                              <th style="display:none">Out</th>
                            </tr>
                          </thead>
                          <tbody id="attendance_table" style="height:10%;">


                          </tbody>
                        </table>
                      </div>
                    </div>
                    <!-- department settings start-->
                    <div style="display:none" id="department_model">
                      <table class="table  table-bordered table-hover mt-4">
                        <caption>
                          <div class="float-right my-3" id="total_checkin"></div>
                          <div class="float-left my-3" id="days"></div>

                        </caption>

                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>In</th>
                          </tr>
                        </thead>
                        <tbody id="department_body">



                        </tbody>
                      </table>
                      <!-- department settings end-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <button id="department_stats_btn" class="float-right">FILTER</button>
                    <div class="row">
                      <canvas height="200" id="department_statistics"></canvas>

                      <!-- DEPARTMENT TABLE START -->

                      <div class="d-none" id="department_stats_div">
                        <select class="department" name="department" id="department_name">
                          <!-- <option value="all">ALL</option> -->
                        </select>

                        <select name="status" id="department_status">
                          <option value="active">Active</option>
                          <option value="terminated">Terminated</option>
                          <option value="resigned">RESIGNED</option>
                          <option value="dismised">DISMISED</option>
                          <option value="redundancy">REDUNDANCY</option>
                        </select>
                        <button id="run_department_stats">Run</button>

                        <div style="cursor:pointer" class="toolbar-item float-right btn-sm mt-2"
                          onclick="printresult('department_stats_print','EMPLOYEES BY DEPARTMENT')" title="print">
                          <i class="fa fa-print" aria-hidden="true"></i>
                        </div>
                        
                        <div class="table-responsive table-responsive-sm table-responsive-md mt-4" id="department_stats_print">



                          <table class="table table-stretched table-hover">
                            <caption class="text-dark" id="department_caption"></caption>

                            <thead>
                              <tr>
                                <th>#</th>
                                <th>NAME</th>
                                <th>STATUS</th>
                              </tr>
                            </thead>
                            <tbody id="department_stats_body">


                            </tbody>
                          </table>
                        </div>
                      </div>

                      <!-- DEPARTMENT TABLE END -->




                      <div class="col-md-6">
                        <div class="d-flex align-items-center pb-2">
                          <div class="dot-indicator bg-danger mr-2"></div>
                          <p class="mb-0">EMPLOYEES WITH BENEFICIARY</p>
                        </div>
                        <small class="font-weight-semibold" id="emp_with_beneficiary">48</small>
                        <div class="progress progress-md">
                          <div class="progress-bar bg-danger" id="emp_with_beneficiary_progressbar" role="progressbar">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 mt-4 mt-md-0">
                        <div class="d-flex align-items-center pb-2">
                          <div class="dot-indicator bg-success mr-2"></div>
                          <small class="mb-0">EMPLOYEES WITHOUT BENEFICIARY</small>
                        </div>
                        <p class="font-weight-semibold" id="emp_without_beneficiary">75</p>
                        <div class="progress progress-md">
                          <div class="progress-bar bg-success" id="emp_without_beneficiary_progressbar"
                            role="progressbar"></div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <button id="employee_age_btn" class="float-right mb-4">FILTER</button>

                    <canvas height="400" id="employee_age"></canvas>


                    <!-- EMPLOYEE  AGE START -->

                    <div class="d-none" id="employee_age_stats_div">

                      <form id="employee_age_action_form">


                        <div class="col">
                          <label class="mb-3 text-center">Filter Age</label>
                          <p style="width: 300px;" id="slider"></p>
                          <label class="text-center" id="age_indicator"></label>
                          <!-- <p id="age_indicator"></p> -->
                        </div>


                        <div class="col">
                          <label> Status</label>
                          <select name="status" id="employee_age_status">
                            <option value="active">Active</option>
                            <option value="terminated">Terminated</option>
                            <option value="resigned">RESIGNED</option>
                            <option value="dismised">DISMISED</option>
                            <option value="redundancy">REDUNDANCY</option>
                          </select>
                          <button type="submit" id="run_employee_age">Run</button>
                        </div>




                      </form>

                      <div style="cursor:pointer" class="toolbar-item float-right btn-sm mt-2"
                        onclick="printresult('age_table_print','EMPLOYEES BY AGE')" title="print">
                        <i class="fa fa-print" aria-hidden="true"></i>
                      </div>
                      
                      <div class="table-responsive table-responsive-sm table-responsive-md mt-4" id="age_table_print">


                     
                        <table class="table table-stretched table-hover">
                          <caption class="text-dark" id="employee_age_caption"></caption>

                          <thead>
                            <tr>
                              <th>#</th>
                              <th>NAME</th>
                              <th>DEPARTMENT</th>
                              <th>DOB</th>
                              <th>AGE</th>
                            </tr>
                          </thead>
                          <tbody id="employee_age_body">


                          </tbody>
                        </table>
                      </div>
                    </div>

                    <!-- EMPLOYEE AGE END -->




                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title mb-4">EMPLOYEE ATTENDACE</h1>
                    <div class="row">
                      <div class="col-5 col-md-5">
                        <div class="wrapper border-bottom mb-2 pb-2">
                          <h4 class="font-weight-semibold mb-0" id="Week_data"></h4>
                          <div class="d-flex align-items-center">
                            <p class="mb-0">This Week</p>
                            <div class="dot-indicator bg-secondary ml-auto"></div>
                          </div>
                        </div>
                        <div class="wrapper">
                          <h4 class="font-weight-semibold mb-0" id="Yesterday_data"></h4>
                          <div class="d-flex align-items-center">
                            <p class="mb-0">Yesterday</p>
                            <div class="dot-indicator bg-primary ml-auto"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-5 col-md-7 d-flex pl-4">
                        <div class="ml-auto">
                          <canvas height="100" id="realtime-statistics"></canvas>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-5">
                      <div class="col-6">
                        <div class="d-flex align-items-center mb-2">
                          <div class="icon-holder bg-primary text-white py-1 px-3 rounded mr-2">
                            <i class="icon ion-logo-buffer icon-sm"></i>
                          </div>
                          <h2 class="font-weight-semibold mb-0" id="today_data"></h2>
                        </div>
                        <p class="font-weight-medium text-danger" id='clockin_text'>CLOCK IN'S TODAY</p>
                        <!-- <p><span class="font-weight-medium">20.51%</span> average</p> -->
                      </div>
                      <div class="col-6">
                        <div class="mt-n3 ml-auto" id="dashboard-guage-chart"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <button class="float-right" id="country_stats_btn">FILTER</button>
                    <h5 class="card-title mb-4 text-center">COUNTRY STATISTICS</h5>
                    <!-- <div id="employees_country" class="vector-map"></div> -->
                    <canvas class="mt-4 vector-map" height="100" id="employees_country"></canvas>

                    <div class="wrapper">
                      <div class="d-flex w-100 pt-2 mt-4">
                        <p class="mb-0 font-weight-semibold">
                        <ul id="country_name" class="mb-0 font-weight-semibold list-unstyled">

                        </ul>
                        </p>
                        <div class="wrapper ml-auto d-flex align-items-center">
                          <p class="font-weight-semibold mb-0">
                          <ul id="country_number" class="font-weight-semibold mb-0 list-unstyled">

                          </ul>
                          </p>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>

                <div class="d-none" id="country_stats_div">
                  <select class="country" name="country" id="country_names">
                    <!-- <option value="ghana">Ghana</option>
                    <option value="gh">South Africa</option> -->
                  </select>

                  <select name="status" id="country_status">
                    <option value="active">Active</option>
                    <option value="terminated">Terminated</option>
                    <option value="resigned">RESIGNED</option>
                    <option value="dismised">DISMISED</option>
                    <option value="redundancy">REDUNDANCY</option>
                  </select>
                  <button id="run_country_stats">Run</button>

                  <div style="cursor:pointer" class="toolbar-item float-right btn-sm mt-2"
                    onclick="printresult('country_stats_print','COUNTRY STATISTICS')" title="print">
                    <i class="fa fa-print" aria-hidden="true"></i>
                  </div>
                 
                  <div class="table-responsive table-responsive-sm table-responsive-md" id="country_stats_print">



                    <table class="table table-stretched table-hover">
                      <caption class="text-dark" id="caption_country"></caption>

                      <thead>
                        <tr>
                          <th>#</th>
                          <th>NAME</th>
                          <th>STATUS</th>
                        </tr>
                      </thead>
                      <tbody id="country_stats_body">


                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
              <div class="col-md-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title mb-0">UPCOMMING BIRTHDAY(S)</h4>
                    <hr>
                    <!-- <hr class="bg-primary"> -->
                    <div style="height: 400px; overflow: auto"class="d-flex mt-3 py-2 border-bottom">
                      <!-- <img class="img-sm rounded-circle" src="{% static 'images/faces/face3.jpg' %}" alt="profile image"> -->
                      <ul  class="wrapper ml-2 timeline" id="birthdays">

                      </ul>
                      <!-- <small class="text-muted ml-auto">1 Hours ago</small> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <h5 class="mb-3 font-weight-semibold text-primary">Leave Management</h5>

          <div class="col-md-4 grid-margin stretch-card">
            <div class="card" style="background-color:rgb(241, 241, 241)">
              <div class="card-body">
                <h4 class="card-title mb-0">EMPLOYEES FROM LEAVE (RESENT)</h4>
                <hr>
                <div style="height:500px;overflow:auto;">
                  <div class="d-flex py-2 border-bottom">

                    <ul  class="wrapper timeline ml-1" id="emp_from_leave">


                    </ul>
                  </div>
                </div>



              </div>
            </div>
          </div>
          <div class="col-md-3 grid-margin stretch-card">
            <div class="card" style="background-color:rgb(241, 241, 241)">
              <div class="card-body">
                <h4 class="card-title ">EMP EXCEEDED LEAVE</h4>
                <hr>
                <div style="height:500px;overflow:auto;">
                  <ul class="timeline ml-1" id="emp_exceed_leave">
                    <!-- <li class="timeline-item"> -->
                    <!-- <p class="timeline-content"><a href="#">Ben Tossell</a> assign you a task</p> -->
                    <!-- <p class="event-time">Just now</p> -->
                    <!-- </li> -->
                  </ul>
                </div>
                <!-- <a-- class="d-block mt-3" href="#">Show all</a-->
              </div>
            </div>
          </div>
          <div class="col-md-5 grid-margin stretch-card">
            <div class="card" style="background-color:rgb(241, 241, 241)">
              <div class="card-body">
                <h4 class="card-title mb-0">LEAVE APPLICATIONS</h4>
                <hr>
                <select name="filter_leave" id="filter_leave">
                  <option value="on_leave">ON LEAVE</option>
                  <option value="approved_leave">APPROVED LEAVE</option>

                  <option value="applied_for_leave">APPLIED FOR LEAVE</option>
                </select>

                <div class="table-responsive">

                  <form>
                    {% csrf_token %}
                    <div style="height:500px;overflow:auto;">

                      <table class="table table-stretched">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <!-- <th>Reporting Date</th> -->
                            <th>Change</th>
                          </tr>
                        </thead>
                        <tbody id="emp_on_leave">
                          <!-- <tr>
                            <td>
                              <p class="mb-1 text-dark font-weight-medium">NFLX</p><small class="font-weight-medium">Netflix, Inc.</small>
                            </td>
                            <td class="font-weight-medium">$250.00</td>
                            <td class="text-success font-weight-medium">+12.64</td>
                          </tr> -->


                        </tbody>
                      </table>
                    </div>
                  </form>
                </div>
                <!-- <a class="d-block mt-3" href="#">Show all</a> -->
              </div>
            </div>
          </div>
          <!-- card col end -->
          <div class="leave_table" style="display: none">
            <!-- DETAIL LEAVE TABLE START -->
            <div class="table-responsive-sm">
              <table id="leave_table" class="table table-striped table-bordered table-hover">
                <caption class="font-weight-bold leave_summary_caption"> </caption>

                <thead>
                  <tr>

                    <th>Policy</th>
                    <th>Start</th>
                    <th>End</th>
                    <th><abbr class="initialism" title="No of Days">Days</abbr></th>
                    <th>Document</th>
                    <th><abbr class="initialism" title="supervisor approve">SUP</abbr></th>
                    <th>HOD</th>
                    <th>HR</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody id="leave_table_body">


                </tbody>
              </table>
            </div>
            <!-- DETAIL LEAVE TABLE END-->

            <!-- SUMMARY LEAVE TABLE START -->
            <table class="table table-striped table-bordered table-hover" id="leave_summary_table">
              <caption class="font-weight-bold leave_summary_caption"> </caption>

              <thead>
                <tr>
                  <th>Policy</th>
                  <th>Applied Year</th>
                  <th>Policy Days</th>
                  <th>Days Applied For</th>
                  <th>Outstanding</th>
                  <th>Num Of Application</th>

                </tr>
              </thead>
              <tbody id="leave_summary_body">


              </tbody>
            </table>

            <!-- SUMMARY LEAVE TABLE END -->
          </div>
        </div>
      </div>
      <p id="pageBottom"></p>
      <!-- content-wrapper ends -->
      <script src="{% static 'js/scripts/attendance.js' %}"></script>

      <script src="{% static 'js/scripts/hr_dashboard/hr_script.js' %}"></script>
      <script src="{% static 'js/scripts/hr_dashboard/hr_script_report.js' %}"></script>

      <script>
        function scroolDown() {

          let pageBottom = document.querySelector("#pageBottom")

          pageBottom.scrollIntoView()

        }
      </script>


      <style>
        html,
        body {
          scroll-behavior: smooth;
        }

        /* At the top level of your code */
        @media screen and (min-width: 900px) {
          #ticket_filter {
            /* padding: 1rem 3rem; */
            position: absolute;
            left: 20px;
          }
        }


        /* At the top level of your code */
        @media screen and (min-width: 900px) {
          #leave_search {
            /* padding: 1rem 3rem; */
            position: absolute;
            right: 20px;
          }
        }


        #turn_over_rate{

          font-size: 30px;
          display: block;
          font-weight: bold;
        }
        #active_employees_count {
          font-size: 100px;
          display: block;
          font-weight: bold;
          /* color: #fff; */
        }
      </style>

      {% endblock content %}